name: Nix Docker Build

on:
  push:
  pull_request:

env:
  # errexit and pipefail set by the runner
  SHELLOPTS: nounset

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Nix Setup
        uses: cachix/install-nix-action@v31
        with:
          extra_nix_config: |
            accept-flake-config = true

      - name: Cachix Setup
        uses: cachix/cachix-action@v16
        with:
          name: ${{ github.event.repository.name }}
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - name: Build, Tag, and Push
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: nix run
