name: Seed

on:
  push:
  pull_request:

jobs:

  seed:
    runs-on: ubuntu-latest
    permissions:
      # allow checkout and other read-only ops; this is the default but specifying a
      # permissions block drops defaults back to `none`
      contents: read
      # minting an OIDC token lets COSIGN_EXPERIMENTAL=1 keep cosign signing
      # non-interactive instead of invoking the device flow.
      id-token: write
      # allow push to registry
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Build seed
        uses: ./.
        with:
          registry_token: ${{ secrets.GITHUB_TOKEN }}
          # TODO: tag should be done by after check
          tags: latest

  check:
    runs-on: ubuntu-latest
    container: ghcr.io/${{ github.repository }}:${{ github.sha }}
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - uses: actions/checkout@v6
      - run: nix flake check --print-build-logs
