name: Seed

on:
  push:
    paths: &paths
      - flake.lock
      - flake.nix
      - .github/workflows/seed.yaml
  pull_request:
    paths: *paths
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Build seed
        uses: ./.
        with:
          registry_token: ${{ secrets.GITHUB_TOKEN }}
          tags: latest
