name: Seed

on:
  push:
    paths-ignore: &paths-ignore
      - .github/workflows/runner-tools.yaml
  pull_request:
    paths: *paths-ignore

env:
  HONEYCOMB_DATASET: gha-buildevents

jobs:

  seed:
    runs-on: ubuntu-latest
    permissions:
      # allow checkout and other read-only ops; this is the default but specifying a
      # permissions block drops defaults back to `none`
      contents: read
      # minting an OIDC token lets COSIGN_EXPERIMENTAL=1 keep cosign signing
      # non-interactive instead of invoking the device flow.
      id-token: write
      # allow push to registry
      packages: write

    steps:

      - name: Set trace-start
        id: set-trace-start
        run: echo "trace-start=$(date +%s)" >> $GITHUB_OUTPUT
      - uses: honeycombio/gha-buildevents@v3
        with:
          apikey: ${{ secrets.BUILDEVENT_APIKEY }}
          dataset: ${{ env.HONEYCOMB_DATASET }}
          # matrix-key: ${{ matrix.value }}

      - name: Checkout
        uses: actions/checkout@v6

      - name: Build seed
        uses: ./.
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          # FIXME: tag should be done after check
          tags: latest

  check:
    runs-on: ubuntu-latest
    container: ghcr.io/${{ github.repository }}:${{ github.sha }}
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - uses: actions/checkout@v6
      - run: |-
          docker run \
            --network none \
            --tmpfs /tmp \
            --volume ${{ github.workspace }}:/src \
            ghcr.io/${{ github.repository }}.seed:${{ github.sha }} \
            nix flake check --print-build-logs /src

  trace:
    runs-on: ubuntu-latest
    needs: check
    if: ${{ always() }}
    permissions:
      actions: read
    steps:
      - uses: technote-space/workflow-conclusion-action@v3
      - uses: honeycombio/gha-buildevents@v2
        with:
          apikey: ${{ secrets.BUILDEVENT_APIKEY }}
          dataset: ${{ env.HONEYCOMB_DATASET }}
          status: ${{ env.WORKFLOW_CONCLUSION }}
          trace-start: ${{ needs.seed.outputs.trace-start}}
          # matrix-key: ${{ matrix.value }}
